.footer {
    background-color: $color-gray-dark;
    text-align: center;
    padding: 8rem 0;

    &__logo {
        width: 13rem;
        margin-bottom: 8rem;
    }

    &__links {
        list-style: none;
        text-transform: uppercase;
        color: $color-white;
        display: inline-block;
        border-top: 1px solid $color-gray;
        padding-top: 1rem;
        margin-left: auto;

        li {
            display: inline-block;
            transition: all .3s;

            &:not(:last-child) { margin-right: 2rem; }

            &:hover {
                color: $color-primary;
                transform: scale(1.3) rotate(10deg);
            }
        }
    }

    &__text {
        font-size: 1.4rem;
        color: $color-white;
        border-top: 1px solid $color-gray;
        padding-top: 1rem;
        width: 65%;
        float: right;
        margin-right: 7rem;
        text-align: start;

        @include respond(tab-port) {
            margin: 0 auto;
            float: none;
            width: 95%;
            border-top: none;
        }

        a {
            color: inherit;
            text-transform: uppercase;
        }
    }
}